= form.error_messages

%dl
  %dt= form.label :street
  %dd= form.text_field :street
  %dt= form.label :town
  %dd= form.text_field :town
  %dt= form.label :county
  %dd= form.text_field :county
  %dt= form.label :postcode
  %dd= form.text_field :postcode
  %dt= form.label :country
  %dd= form.text_field :country
  %dt= form.label :account_id
  %dd= form.text_field :account_id
