%section
  %h1 Listing Households

  %ul#search
    - ('A'..'Z').each do |letter|
      = letter

  - paginated_section @users do
  
    %table
      - for household in @households
        %tr{:class => cycle("odd", "even")}
          %td= h household.street
          %td= h household.town
          %td= h household.county
          %td= h household.postcode
          %td= h household.country
          %td
            = link_to 'Show', household
            = link_to 'Edit', edit_household_path(household)
            = link_to 'Destroy', household, :confirm => 'Are you sure?', :method => :delete

  .button= link_to 'New Household', new_household_path

- content_for :sidebar do
  = render '/dashboards/account_details'